.mainHello{
    margin: 30px 120px 30px 120px;
}

.main{
    padding: 5px 60px 5px 60px;

}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.bodyBg{
    background-color: #efefef;
    /* background:url("/img/backgroundWhite.jpg"); */
    background-size:cover;
}

.mediaobject-index{
    height: 48px;
    width: 48px;
}


.mediaObject-userInfo{
    height: 170px;
    width: 170px;
}

.mediaText{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.mediaobject-reply{
    height: 60px;
    width: 60px;
}

.mediaobject-secondreply{
    height: 36px;
    width: 36px;
}