.main{
    margin: 30px 120px 30px 120px;
    background-color: white;
}

.bodyBg{
    /*background-color: #efefef;*/
    background:url("/img/bg.jpg");
}

.mediaobject-index{
    height: 69px;
    width: 69px;
}


.mediaObject-userInfo{
    height: 169px;
    width: 169px;
}

.mediaText{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}