.mainHello{
    margin: 30px 120px 30px 120px;
}

.main{
    margin: 30px 120px 30px 120px;
    background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.bodyBg{
    background-color: #efefef;
    /* background:url("/img/backgroundWhite.jpg"); */
    background-size:cover;
}

.mediaobject-index{
    height: 48px;
    width: 48px;
}


.mediaObject-userInfo{
    height: 189px;
    width: 189px;
}

.mediaText{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.mediaobject-reply{
    height: 80px;
    width: 80px;
}