.main{
    margin: 30px 120px 30px 120px;
    background-color: white;
}

.bodyBg{
    /*background-color: #efefef;*/
    background:url("/img/bg.jpg");
}

.media-object{
    height: 75px;
    width: 75px;
}

.mediaText{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}