<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>SsHome - 后台管理</title>
  <link type="text/css" rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
  <!-- 
  <link type="text/css" rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
  <script src="../static/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}" type="application/javascript"></script>
  -->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">SsHome — 赛菲尔的窝</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">test1</a></li>
      <li class="layui-nav-item"><a href="">test2</a></li>
      <li class="layui-nav-item"><a href="">test3</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">Emm</a>
        <dl class="layui-nav-child">
          <dd><a href="">还没想好</a></dd>
          <dd><a href="">这里写啥</a></dd>
          <dd><a href="">等下再说</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../static/layui/images/face/59.gif"  th:src="@{/layui/images/face/59.gif}" class="layui-nav-img">
          Sapphire
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">后台数据管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">用户管理</a></dd>
            <dd><a href="javascript:;">问题管理</a></dd>
            <dd><a href="javascript:;">回复管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">记录管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">点赞记录管理</a></dd>
            <dd><a href="javascript:;">访问记录管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">管理员帐号设置</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域</div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © www.sshome.syz &nbsp;&nbsp;&nbsp;(From Sapphire L) 
  </div>
</div>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}" type="application/javascript"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>