<!DOCTYPE HTML>
<!-- 引用命名标签 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>SsHome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/home.css" />

<script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>

<body class="bodyBg">
	<!-- import nav -->
	<div th:insert="~{navigation :: nav}"></div>
	<!-- End -->

	<div class="jumbotron">
		<h1 class="display-3">Emmm, Something goes Wrong..</h1>
		<p class="lead" th:text="${message}">不清楚是什么错误，先这样吧</p>
		<hr class="my-4">
		<p>我们会尽快修复.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/" role="button">>> 先回到主页吧</a>
		</p>
	</div>

	<!-- import bottom -->
	<div th:insert="~{bottom :: bottom}"></div>
	<!-- End -->

</body>
</html>