<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">SsHome&nbsp;&nbsp;</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item" th:if="${session.user == null}"><a class="nav-link" href="/login">登陆&nbsp;</a></li>
			<li class="nav-item dropdown" th:if="${session.user != null}">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				<span><img th:src="${session.user.getAvatarurl()}" style="width:20px;height:20px;"></span> 
				<span class="badge badge-danger" th:text="${countNewNotice}" th:if="${countNewNotice != 0}">-1</span>
				<span th:text="${session.user.getName()}">&nbsp;</span></a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/profile/questions">个人中心</a> <!-- <a
						class="dropdown-item" href="/profile/replies">个人回答</a> <a
						class="dropdown-item" href="/profile/notices">他人答复<span style="margin-left:20px;" class="badge badge-danger" th:text="${countNewNotice}">-1</span></a> <a
						class="dropdown-item" href="/profile/settings">个人设置</a> -->
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/logout">登出</a>
				</div></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> &nbsp;&nbsp;导航 </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/forum">讨论区</a> <a
						class="dropdown-item" href="#">排行榜</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">关于作者</a>
				</div></li>
		</ul>

	</div>

	<form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search"
			aria-label="Search">
		<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
	</form>
</nav>

</div>