<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="/">Ss'Home</a>
            </div>
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="/hello">Hello</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                <div class="form-group">
                	<input type="text" class="form-control" placeholder="Search..?!">
                	<button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
                    
                
                <ul class="nav navbar-nav navbar-right">
                    <li th:if = "${session.user != null}">
                        <a href="/publish">Publish Question</a>
                    </li>
                    <li th:if = "${session.user != null}">
                        <a href="/profile/personalInfo">My Info</a>
                    </li>
                    <li class="dropdown" th:if = "${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">My Questions</a></li>
                            <li><a href="/profile/replies">My Replies</a></li>
                            <li><a href="#">My Notice</a></li>
                            <li><a href="/profile/settings">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.user == null}"><a href="/login">Login</a></li>
                    <!--<li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=4ce03e6d08271639376f&redirect_uri=http://localhost:6197/callback&scope=user&state=1">Github Login</a></li>-->

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>