<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${sectionName}"></title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet"
	href="/css/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="/css/home.css" />
<script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>
<body class="bodyBg">
	<!-- import nav -->
	<div th:insert="~{navigation :: nav}"></div>
	<!-- End -->

	<main role="main" class="container">
		<div
		class="d-flex align-items-center p-3 my-3 text-black-50 bg-white rounded shadow-sm">
		<img class="media-object img-thumbnail mediaobject-index"
			src="/img/sapphire611.jpeg">
		<div style="margin-left: 16px;" class="lh-100">
			<h6 class="mb-0 text-black lh-100">Made By Sapphire611</h6>
			<small>For Sapphire & Sara —— 2017.12.11</small>
		</div>
	</div>

		<div style="margin-top: 30px;" class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li
						th:class="${section == 'questions' } ? 'nav-link active':'nav-link'"><a
						href="/profile/questions">个人提问</a></li>
					<li
						th:class="${section == 'replies' } ? 'nav-link active':'nav-link'"><a
						href="/profile/replies">个人回答</a></li>
					<li
						th:class="${section == 'notices' } ? 'nav-link active':'nav-link'"><a
						href="/profile/notices">他人答复</a></li>
					<li
						th:class="${section == 'settings' } ? 'nav-link active':'nav-link'"><a
						href="/profile/settings">个人设置</a></li>
				</ul>
			</div>

			<div class="card-body">
				<!-- 展示个人提问 -->
				<div th:if="${paginationDTO != null && {section} != settings}"
					th:each="question : ${paginationDTO.questions}"
					class="media text-muted pt-3">
					<img class="media-object img-thumbnail mediaobject-index"
						th:src="${question.user.avatarUrl}">
					<p style="margin-left: 16px;"
						class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
						<span class="badge badge-info" th:text="${question.getTag()}">-1</span>
						<strong class="text-gray-dark"> <a
							th:href="@{'/question/' +${question.getId()}}"
							th:text="${question.title}" style="font-size: 14px;"></a>
						</strong> <span class="d-block mediaText" style="margin-top: 5px;">
							<a th:href="@{'/userinfo/' +${question.user.getName()}}"><span
								th:text="${question.user.getName()}"></span></a> published an
							article • <span th:text="${question.commentCount}"></span>
							comments • <span th:text="${question.viewCount}"></span> views •
							<span
							th:text="${#dates.format(question.getGmtModified(),'yyyy-MM-dd HH:mm:ss')}"></span>
						</span>
					</p>
				</div>
				<!-- 展示个人提问 End-->

				<!-- 展示个人回答 & 他人答复-->
				
				<div th:if="${paginationDTO != null && {section} != setting}"
					th:each="reply : ${paginationDTO.getReplies()}"
					class="media text-muted pt-3">
					<img class="media-object img-thumbnail mediaobject-index"
						th:src="${reply.user.avatarUrl}">
					<p class="border-bottom" style="margin-left: 16px; margin-bottom: 0px;">
					<h3>
						<a th:href="@{'/question/' +${reply.getQuestionId()}}"
							th:text="${reply.getQuestionTitle()}" style="font-size: 14px;"></a>
					</h3>

					<div style="margin-top: 10px; margin-left: 20px;"
						th:utext="${reply.getDescription()}">
					</div>
					</p>

				</div>
				<!-- 展示个人回答 & 他人答复 End-->
				
				<!-- 分页部分 -->
				<nav aria-label="Page navigation example" style="margin-top: 15px;">
					<ul class="pagination">
						<li class="page-item"><a class="page-link"
							th:if="${paginationDTO.showFirstPage}" th:href="@{/(page=1)}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li class="page-item"><a class="page-link"
							th:if="${paginationDTO.showPrevious}"
							th:href="@{/(page=${paginationDTO.page-1})}"
							aria-label="Previous"> <span aria-hidden="true">&lt;</span>
						</a></li>
						<li class="page-item"
							th:class="${paginationDTO.page == page} ? 'active' : ''"
							th:each="page : ${paginationDTO.pages}"><a class="page-link"
							th:href="@{/(page=${page})}" th:text="${page}">1</a></li>
						<li class="page-item"><a class="page-link"
							th:if="${paginationDTO.showNext}"
							th:href="@{/(page=${paginationDTO.page + 1})}" aria-label="Next">
								<span aria-hidden="true">&gt;</span>
						</a></li>
						<li class="page-item"><a class="page-link"
							th:if="${paginationDTO.showEndPage}"
							th:href="@{/(page=${paginationDTO.totalPage})}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
				<!-- 分页部分 End-->


			</div>
		</div>


	</main>

	<!-- import bottom -->
	<div th:insert="~{bottom :: bottom}"></div>
	<!-- End -->

</body>
</html>