<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <script src="../static/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}" type="application/javascript"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
<body class="bodyBg">
<!-- import nav -->
<div th:insert="~{navigation :: nav}"></div>
<!-- End -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span
                    style="font-family: inherit" th:text="'&nbsp;&nbsp;' + ${question.title}"></span></h3>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <p th:text="${question.getDescription()}"></p>
                <p class="mediaText"><span th:text="'>> '+${question.commentCount}"></span> comments • <span
                        th:text="${question.viewCount}"></span> views • <span
                        th:text="${#dates.format(question.getGmtModified(),'yyyy-MM-dd HH:mm:ss')}"></span>
                <hr>
   
            <!-- 点赞按钮 th:href="@{'/publish/'+${question.getId()}} -->
            <a th:if="${Button} != null" th:href="@{${question.getId()} + '/like'}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<span th:text="${question.likeCount}"></span></button></a>
            <a th:if="${Button} == null" th:href="@{${question.getId()} + '/like'}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<span th:text="${question.likeCount}"></span></button></a>
            <!-- 点赞按钮 End -->
            <span style="color: red" class="alert alert-danger" role="alert"  th:if = "${wrongMsg} != null" th:text="${wrongMsg}">...</span>   
            </div>
            <br>&nbsp;
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>&nbsp;
            
            <h3><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>&nbsp;&nbsp;Reply</h3>
            <hr>
            
            <form action="/question" method="post">
            <!-- 同样需要将该问题的Id传过去 -->
            <input type="hidden" name="id" th:value="${question.getId()}"> 
            <textarea class="form-control" name="reply" id="reply" cols="30" rows="10" placeholder="..."></textarea>
            <div class="alert alert-danger" role="alert"  th:text="${error}"  th:if = "${error} != null" >...</div>
            <br>
            <button type="submit" class="btn btn-success">Reply</button>
            <br>
            <br>
            </form>
            

			
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Publisher</h3>
            <hr>
            <!--<span href="#" th:text="${question.toString()}"></span>-->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail mediaobject-index" th:src="${question.user.getAvatarUrl()}">
                    </a>

                </div>
                <div class="media-body">
                    <p href="#" th:text="${question.user.getName()}"></p>
                    <p class="mediaText">
                        <span href="#" th:text="${question.user.getBio()}"></span>
                    </p>
                </div>
                <br>
                <a th:if="${question.user.getId() == session.user.getId()}" th:href="@{'/publish/'+${question.getId()}}">
                <button class="btn btn-default"><span><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;ReEdit this question</span>
                </button>
                </a>
                <br>
                <span style="color: red" th:text="${error}">...</span>
            </div>
            <br>
            <br>


            <!--
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Publisher</h3>
            </div>
            -->

        </div>
    </div>
</div>
</div>
</div>


<!-- import bottom -->
<div th:insert="~{bottom :: bottom}"></div>
<!-- End -->

</body>
</html>