<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${question.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- <link type="text/css" rel="stylesheet"
	href="/css/bootstrap-theme.min.css" /> -->
<link type="text/css" rel="stylesheet" href="/css/home.css" />
<script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>

</head>
<body class="bodyBg">
	<!-- import nav -->
	<div th:insert="~{navigation :: nav}"></div>
	<!-- End -->

	<main role="main" class="container">
		<div
			class="d-flex align-items-center p-3 my-3 text-black-50 bg-white rounded shadow-sm">
			<img class="media-object img-thumbnail mediaobject-index"
				th:src="${question.user.avatarurl}">
			<div style="margin-left: 16px;" class="lh-100">
				<h6 class="mb-0 text-black lh-100"
					th:text="'提问者 : ' + ${question.user.getName()}"></h6>
				<small th:text="${question.user.getBio()}"></small>
			</div>

			<br>
		</div>

		<div
			class="align-items-center p-3 my-3 text-black-50 bg-white rounded shadow-sm">
			<span class="mb-0 text-black lh-100">总板块 >> <span
				th:text="${question.getTitle()}"></span></span> <a
				th:if="${session.user != null && question.user.getId() == session.user.getId()}"
				th:href="@{'/publish/'+${question.getId()}}"
				class="mb-0 text-black lh-100" style="float: right;"> &nbsp;
				重新编辑 &nbsp; </a>

			<!-- 用户自行删除问题 -->
			<span th:if="${session.user != null && question.user.getId() == session.user.getId()}"
				class="mb-0 text-green lh-100" style="float: right;"
				data-toggle="modal" data-target="#deleteQuestion1"> <a
				href="#">&nbsp;删除问题&nbsp;</a>
			</span>
			<!-- 用户自行删除问题 End-->

			<!-- Modal 用户自行删除问题-->
			<div class="modal fade" id="deleteQuestion1" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">删除这个问题</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<span
								th:text="'确定要删除你的问题 : [ '+ ${question.getTitle()} + ' ] 吗?'"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">取消</button>
							<form action="/question/deleteMyQuestion" method="get">
								<input type="hidden" name="questionId"
									th:value="${question.getId()}">
								<button type="submit" class="btn btn-primary">确定!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal 用户自行删除问题 End-->

			<!-- 管理员替你删除问题 -->
			<span
				th:if="${session.user != null && question.user.getId() != session.user.getId() && session.user.getAdminboolean() == 1}"
				class="mb-0 text-red lh-100" style="float: right;"
				data-toggle="modal" data-target="#deleteQuestion2"> <a
				href="#">&nbsp;【删除问题】</a>
			</span>
			<!-- 管理员替你删除问题 End-->

			<!-- Modal 管理员替你删除问题-->
			<div class="modal fade" id="deleteQuestion2" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">删除这个问题</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<span
								th:text="'Admin，确定要删除这个问题 : [ '+ ${question.getTitle()} + ' ] 吗?'"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">取消</button>
							<form action="/question/deleteMyQuestion" method="get">
								<input type="hidden" name="questionId"
									th:value="${question.getId()}">
								<button type="submit" class="btn btn-primary">确定!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal 管理员替你删除问题 End-->


		</div>
		<!-- Question 主题内容 -->
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h3 class="border-bottom border-gray pb-2 mb-0"
				th:text="${question.getTitle()}"></h3>
			<p id="questionDes" th:utext="${question.getDescription()}"></p>
			<p style="margin-bottom: 0px;" class="mediaText">
				<span th:text="'>> '+${question.commentCount}"></span> comments • <span
					th:text="${question.viewCount}"></span> views • <span
					th:text="${#dates.format(question.getGmtmodified(),'yyyy-MM-dd HH:mm:ss')}"></span>
				<!-- 这是一个很早之前就写好的点赞按钮 -->
			<div style="margin-bottom: 60px;">
				<span> <a style="float: right" th:if="${session.user != null && Button != null}"
					th:href="@{${question.getId()} + '/like'}">
						<button type="button" class="btn btn-success">
							<span aria-hidden="true">👍</span>&nbsp;<span
								th:text="${question.likeCount}"></span>
						</button>
				</a>
				</span> <span><a style="float: right" th:if="${session.user != null && Button == null}"
					th:href="@{${question.getId()} + '/like'}"><button
							type="button" class="btn btn-default">
							<span aria-hidden="true">👍</span>&nbsp;<span
								th:text="${question.likeCount}"></span>
						</button></a></span> </a>
			</div>

			<!-- 点赞按钮End -->
			<hr>
			<!-- Question 主题内容 End-->
		</div>

		<div class="my-3 p-3 bg-white rounded">
			<h5>Comments</h5>


			<!-- <div th:if="${paginationDTO.replies != null} == true"
				th:each="reply : ${paginationDTO.replies}"
				class="media text-muted pt-3">
				<img class="media-object img-thumbnail mediaobject-index" th:src="${question.user.avatarurl}">
				<div class="media-left">
					<a th:href="@{'/userinfo/' +${reply.user.getName()}}"> <img
						class="media-object img-thumbnail mediaobject-reply"
						th:src="${reply.user.avatarUrl}">
					</a>
				</div>
				<div class="media-body"
					style="margin-left: 15px; margin-right: 100px;">
					<p style="font-weight: bold" th:text="${reply.user.name}"></p>
					<p style="margin-bottom: 0px;" th:utext="${reply.description}"></p>
					<hr>
					用户自行删除回复 条件：回复本人/问题发起者可以删除,管理员就则不显示2次了
					<form action="/question/deleteMyReply" method="get">
						<span
							th:if="${(question.user.getId() == session.user.getId() || reply.user.getId() == session.user.getId())}"
							class="mb-0 text-green lh-100" style="float: right;"> <input
							type="hidden" name="replyId" th:value="${reply.getId()}">
							<button type="submit" class="btn btn-primary">删除回复</button>
						</span>
					</form>
					用户自行删除回复 End

					管理员删除回复
					<form action="/question/deleteMyReply" method="get">
					<span
						th:if="${question.user.getId() != session.user.getId() && session.user.getAdminboolean() == 1}"
						class="mb-0 text-green lh-100" style="float: right;"> <input
						type="hidden" name="replyId" th:value="${reply.getId()}">
						<button type="submit" class="btn btn-warning" style="margin-right:20px;">删除回复</button> 
					</span>
					</form>
					管理员删除回复 End


				</div>
			</div>
			<div th:if="${paginationDTO.replies != null} == false">
				<br> <br>
				<p align="center" class="mediaText">No Comment</p>
				<hr>
			</div>
			分页部分
			<nav aria-label="Page navigation example" style="margin-top: 15px;">
				<ul class="pagination">
					<li class="page-item"><a class="page-link"
						th:if="${paginationDTO.showFirstPage}" th:href="@{/(page=1)}"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li class="page-item"><a class="page-link"
						th:if="${paginationDTO.showPrevious}"
						th:href="@{'/question/' + ${question.getId()} + '?page=' + ${paginationDTO.page-1}}"
						aria-label="Previous"> <span aria-hidden="true">&lt;</span>
					</a></li>
					<li class="page-item"
						th:class="${paginationDTO.page == page} ? 'active' : ''"
						th:each="page : ${paginationDTO.pages}"><a class="page-link"
						th:href="@{'/question/' + ${question.getId()} + '?page=' + ${page}}"
						th:text="${page}">1</a></li>
					<li class="page-item"><a class="page-link"
						th:if="${paginationDTO.showNext}"
						th:href="@{'/question/' + ${question.getId()} + '?page=' + ${paginationDTO.page+1}}"
						aria-label="Next"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li class="page-item"><a class="page-link"
						th:if="${paginationDTO.showEndPage}"
						th:href="@{/(page=${paginationDTO.totalPage})}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav> -->
			<!-- 分页部分 End-->

		</div>

		<!-- <form action="/reply" method="post"> -->
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<h5 class="border-bottom border-gray pb-2 mb-0">
				<span th:if="${session.user != null}"><img th:src="${session.user.getAvatarurl()}"
					class="media-object img-thumbnail mediaobject-index"
					style="width: 50px; height: 50px;"><small
					style="margin-left: 10px;" th:text="${session.user.getName()}"></small>
				</span>
			</h5>

			<div id="div1"></div>
			
			<input type="hidden" name="loginUrl" id="loginUrl"
				th:value="${login_url}"> 
				
			<input type="hidden" name="questionId" id="questionId"
				th:value="${question.getId()}"> 
			<input type="hidden"
				name="userId" id="userId" th:if="${session.user != null}" th:value="${currentUser.getId()}">
			<input type="hidden" name="description" id="description"
				th:value="${description}">

			<div class="alert alert-danger" role="alert" th:text="${error}"
				th:if="${error} != null">...</div>
			<button style="margin-top: 10px;" onclick="post()"
				class="btn btn-success">Publish</button>
			<!-- <button style="margin-top: 10px;" onclick="test()"
				class="btn btn-warning">test</button> -->
		</div>
		<!-- </form> -->
	</main>


	<!-- import bottom -->
	<div th:insert="~{bottom :: bottom}"></div>
	<!-- End -->
	<script src="../static/js/wangEditor.min.js"
		th:src="@{/js/wangEditor.min.js}" type="application/javascript"></script>
	<script type="text/javascript">
		const E = window.wangEditor;
		const editor = new E('#div1');
		// 或者 const editor = new E( document.getElementById('div1') );
		editor.create();
		
		function getText(){
			var des = document.getElementById('description');
			des.value = editor.txt.html();
		}
		
		function test(){
			var loginUrl =  $("#loginUrl").val();
			alert(loginUrl);
		
		}

		function post() {	
			var questionId = $("#questionId").val();
			var content = editor.txt.html();
			
			$.ajax({
  				type: "POST",
  				url: "/comment",
  				contentType:"application/json",
  				data: JSON.stringify({
  					"parentId":questionId,
  					"content":content,
  					"type":1
  				}),
  				success: function(response){
  					if(response.code == 200){
  						$("#div1").hide();
  					}else{
  						if(response.code == 2003){
  							var isAccepted = confirm(response.message);
  							if(isAccepted){
  								var loginUrl =  $("#loginUrl").val();
  								window.open(loginUrl);
  								window.localStorage.setItem("closable",true);
  							}
  						}else{
  							alert(response.message);
  						}	
  					}
  				},
  				dataType: "json"
				});
		}
	</script>

</body>
</html>