<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script src="/js/vue.js" th:href="@{/js/vue.js}"></script>
	<script src="/js/axios.min.js" th:href="@{/js/axios.min.js}"></script>
</head>

<body>
    <div id="app">
        	<div>{{noticeNumber}}</div>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            noticeNumber:[]
        },
        methods:{
            show:function(){
                axios
                .get('/getNoticeNumber')
                .then(response => {
                	this.noticeNumber = response.data;
                })
                .catch(function (error) { // 请求失败处理
                  alert(error);
                });
            }
        }
    })
</script>