<!DOCTYPE HTML>
<!-- 引用命名标签 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${infoUser.getName()}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/home.css" />
<script src="/js/jquery-3.5.1.slim.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body class="bodyBg">

	<!-- import nav -->
	<div th:insert="~{navigation :: nav}"></div>
	<!-- End -->

	<main role="main" class="container">

		<div style="margin-top: 30px;" class="card text-center">
			<div class="card-header text-muted">个人信息</div>

			<div class="card-body">
				<div class="media">
					<div style="margin-left: 30px;" class="media-left">
						<img class="media-object img-thumbnail mediaObject-userInfo"
							th:src="${infoUser.getAvatarurl()}">
					</div>

					<div style="margin-left: 30px;" class="media-body ">
						<div class="card">
							<div class="card-body">
								<blockquote class="blockquote mb-0">
									<p th:text="${infoUser.getName()}"></p>
								</blockquote>
								<p class="card-text text-muted">
									<span th:text="${infoUser.getBio()}"></span>
								</p>
								<a th:href="${'https://github.com/' + infoUser.getName()}"
									class="btn btn-outline-secondary"><img
									src="/img/github.png" width="20" height="20"
									style="margin-bottom: 3px; margin-right: 5px;">在Github上关注Ta</a>
								<a th:if="${infoUser.getEmail() != null}"
									th:href="${'mailto:' + infoUser.getEmail()}" target="_top"
									class="btn btn-outline-info">📧&nbsp;给Ta发邮件</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="card-footer text-muted">
				入站时间 : <span
					th:text="${#dates.format(infoUser.getGmtcreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
			</div>

		</div>

		<div style="margin-top: 30px;" class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item"><a class="nav-link active" href="#">近期提问</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<!-- 展示个人近期提问 -->

				<div class="card-deck">
					<div class="card" th:each="question : ${paginationDTO.data}">
						<div class="card-body">
							<a th:href="@{'/question/' +${question.getId()}}">
								<h4 class="media-heading" th:text="${question.title}"></h4>
							</a>
							<p th:text="${#strings.abbreviate(question.getDescription(),25)}"></p>
							<span class="text-muted"
								th:text="'最近更新 ：' + ${#dates.format(question.getGmtmodified(),'yyyy-MM-dd HH:mm:ss')}"></span>

						</div>
					</div>
				</div>
				<!-- 展示个人近期提问 End-->
			</div>
		</div>
	</main>


	<!-- import bottom -->
	<div th:insert="~{bottom :: bottom}"></div>
	<!-- End -->

</body>
</html>